body{
  background-color: #b3ccff;
  font-size: 20px;
  margin: 0;
}
h1{
  font-size: 100px;
  text-align: center;
  color: white;
  border-bottom: 5px solid gray;
  padding: 50px;
  margin: 0;
}
h2{
  font-size: 40px;
  color: #d18017;
  margin: 0;
}
h3{
  font-size: 40px;
  color: #d18017;
  background-color: #ff9900;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px #ff9900 solid;
  display: inline;
  padding: 10px;
}
a{
color: #3e4948;
text-decoration: none;
}
#grid .tree{
  color: #3e4948;
}
#grid .tree label{
  cursor: pointer;
}
#grid .tree ul{
  list-style: none;
  padding-left: 17px;
}
#grid .tree *:before{
  width: 17px;
  height: 17px;
  display: inline-block;
}
#grid .tree label:before{
  content: "\f256";
  font-family: fontello;
}
#grid .tree a{
  text-decoration: none;
}
#grid .tree a:before{
  content: "\e800";
  font-family: fontello;
}
#grid .tree input[type=checkbox]{
  display: none;
}
#grid .tree input[type=checkbox]:checked~ul{
  display: none;
}
#grid .tree input[type=checkbox]:checked+label:before{
  content: "\f255";
  font-family: fontello;
}
#grid ol {
  list-style: none;
  border-right: 5px solid gray;
  width: 130px;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
}
.email {
  color: blue;
  text-decoration: underline;
}
#active {
  color: white;
}
#grid {
  display: grid;
  grid-template-columns: 180px 1fr;
}
#grid article {
  padding-top: 20px;
  padding-left: 33px;
  color: #3e4948;
}
