body{
  background-color: #b3ccff;
  font-size: 20px;
  margin: 0;
}
h1{
  font-size: 100px;
  text-align: center;
  color: white;
  border-bottom: 5px solid gray;
  padding: 50px;
  margin: 0;
}
h2{
  font-size: 40px;
  color: #d18017;
  margin: 0;
}
h3{
  font-size: 40px;
  color: #d18017;
  background-color: #ff9900;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px #ff9900 solid;
  display: inline;
  padding: 10px;
}
a{
color: #3e4948;
text-decoration: none;
}
#grid ol {
  border-right: 5px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
}
.photolist {
  border-right: 5px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 33px;
}
.email {
  color: blue;
  text-decoration: underline;
}
#active {
  color: white;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
}
#grid article {
  padding-top: 20px;
  padding-left: 33px;
  color: #3e4948;
}
